{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                <h1>Sign in</h1>

                {% if hasError %}
                    <div class="alert alert-danger">Incorrect nickName or password given</div>
                {% endif %}

                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Nickname</label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Your nickname" value="{{ username }}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" class="form-control" placeholder="Your password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
