.container {

    margin-top: 20px;
}

.avatar {
    max-width:128px;
    max-height:128px;
    border-radius:50%
}

.avatar.avatar-medium {
    max-width:64px;
    max-height:64px
}

.avatar.avatar-short {

    max-width: 40px;
    max-height: 40px;
}

.avatar.avatar-form {

    max-width:38px;
    max-height:38px;
}

.avatar.avatar-mini {
    max-width:24px;
    max-height:24px
}

.avatar.avatar-micro {
    max-width:16px;
    max-height:16px
}

.statsTable {

    border-collapse: separate;
    border-spacing: 2em 0;
}

.weapon {

    transform: rotate(30deg)
}

.characterCard {

    max-height: 310px;
}

.fixed-mh {

    max-height: 1000px;
}

.fixedHeight {

    height: 400px;
}

.h-row {

    height: 5px;
}

.fas.fa-check-square {

    color: #00bc8c;
}

.fas.fa-comments {

    color: #375a7f;
}

.fas.fa-skull-crossbones {

    color: #E74C3C;
}

a {

    color: white !important;
}

.no-margin {

    margin-left: 0 !important;
    margin-right: 0 !important;
}