{% extends 'base.html.twig' %}

{% block title %}List of characters{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for fighter in pagination.data %}
                {% set class = "col-lg-3 col-md-4 col-sm-6" %}
                {% include "fighter/_fighter.html.twig" %}
            {% endfor %}
        </div>
        {{ pagination.display() }}
    </div>
{% endblock %}
